<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2012, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%-- 
  *****
  * This JSP file serves as sub-component of CategoryRecommendation, represent one category
  *****
--%>
<!-- BEGIN CategorySpot.jspf-->
<!--<div class="product">-->
<div class="catPos categorySpot" id="ci_category_<c:out value='${param.pgl_widgetId}_${fn:replace(categoryPartNumberMap[aStatus.current.key]," ", "--_-")}'/>">
	<c:if test="${env_inPreview && !env_storePreviewLink}">
		<div class="caption" style="display:none"></div>
		<div class="ESpotInfo">
			<c:url var="clickToEditURL" value="/cmc/EditBusinessObject" context="/">
				<c:param name="toolId" value="catalogManagement"/>
				<c:param name="storeId" value="${storeId}"/>
				<c:param name="storeSelection" value="prompt"/>
				<c:param name="languageId" value="${langId}"/>
				<c:param name="searchType" value="FindCategories"/>
				<c:param name="searchOption.searchText" value="${categoryPartNumberMap[aStatus.current.key]}"/>
				<c:param name="searchOption.searchUniqueId" value="${categoryIdMap[aStatus.current.key]}"/>
			</c:url>
			<a id="CategoryRecommendation_click2edit_Category_${categoryIdMap[aStatus.current.key]}" class="click2edit_button" href="javascript:void(0)" onclick="parent.callManagementCenter('<wcf:out escapeFormat="js" value="${clickToEditURL}"/>');" ><fmt:message bundle='${previewText}' key='Click2Edit_category'/></a>
		</div>
	</c:if>
	<c:if test="${fn:contains(categoryURLMap[aStatus.current.key], 'cm_cr=')}">
		<c:set var="cmcrurl_ProductImageLink" value="-productImageLink"/>
		<c:set var="cmcrurl_ProductNameLink" value="-productNameLink"/>
	</c:if>
	<div id="CategoryImage_${uniqueID}_${aStatus.count}" class="product_image">
		<c:if test="${!empty categoryURLMap[aStatus.current.key]}">
			<a id="CategoriesESpotImgLink_${uniqueID}_${aStatus.count}" 
				href="${categoryURLMap[aStatus.current.key]}${cmcrurl_ProductImageLink}"
				aria-label="${categoryIdentifierMap[aStatus.current.key]}" title="${categoryIdentifierMap[aStatus.current.key]}" 
				onfocus="dojo.style('CategoriesESpotImgLink_${uniqueID}_${aStatus.count}', 'outline', 'none'); 
						if (dojo.isChrome) {dojo.style('CategoryImage_${uniqueID}_${aStatus.count}', 'border', '1px solid orange');} 
						else {dojo.style('CategoryImage_${uniqueID}_${aStatus.count}', 'border', '1px dotted gray');}"
				onblur="dojo.style('CategoryImage_${uniqueID}_${aStatus.count}', 'border', '1px solid transparent');">
		</c:if>
		<img src="${categoryImageMap[aStatus.current.key]}" alt=""/>
		<c:if test="${!empty categoryURLMap[aStatus.current.key]}">
			</a>
		</c:if>
	</div>
	<div class="container">
		<a tabindex="-1" aria-hidden="true" class="product_group_name product_info" href="${categoryURLMap[aStatus.current.key]}${cmcrurl_ProductNameLink}"><c:out value="${categoryIdentifierMap[aStatus.current.key]}"/></a>
	</div>
</div>
<!-- END CategorySpot.jspf-->
