<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2014, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- BEGIN OrganizationUserDetails_UI.jspf -->
<c:set var="sectionName" value="userDetails" />
<c:set var="readOnlyDisplayAttribute" value="" />
<c:if test="${fromPage == 'editUser' }" >
	<c:set var="readOnlyDisplayAttribute" value="readOnly" />
</c:if>
<div class="pageSection ${readOnlyDisplayAttribute}" id="WC_${widgetName}_${sectionName}_pageSection">
	<div class="pageSectionTitle" >
		<h2 id="WC_${widgetName}_${sectionName}_title"><fmt:message bundle="${widgetText}" key="ORGANIZATIONUSERINFO_USERDETAILS"/></h2>
		<c:if test="${fromPage == 'editUser' }">
			<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_${sectionName}_pageSection_edit"><fmt:message bundle="${widgetText}" key="ACCE_ORGANIZATIONUSERINFO_EDIT_${fn:toUpperCase(sectionName)}"/></span>
			<a id="buyerDetailEditIcon" class="editIcon" data-section-toggle="WC_${widgetName}_${sectionName}_pageSection" href="#" aria-describedBy='WC_${widgetName}_${sectionName}_pageSection_edit' aria-label='<fmt:message bundle="${widgetText}" key="ORGANIZATION_CLICK2EDIT_BUTTON_LABEL"/>' role="button">
				<img src="<c:out value='${jspStoreImgDir}'/>images/edit_icon.png" alt='<fmt:message bundle="${widgetText}" key="ORGANIZATIONUSERINFO_EDITICON"/>'>
			</a>
		</c:if>
	</div>
	<div id="WC_${widgetName}_${sectionName}_edit" class="editField">
		<c:if test="${fromPage == 'editUser' }" >
			<form id="UserDetails" method="post" name="UserDetails" role="form" aria-hidden="true" aria-labelledBy="WC_${widgetName}_${sectionName}_title" tabindex="0">
			<input type="hidden" id="UserDetailsForm_FieldsOrderByLocale" value="<c:out value="${detailsFieldOrder}"/>" />
			<input type="hidden" name="userId" value="<c:out value="${memberId}"/>" id="WC_${widgetName}_${sectionName}_Form_Input_userId"/>
		</c:if>
		<input type="hidden" name="storeId" value="<c:out value="${WCParam.storeId}"/>" id="WC_${widgetName}_${sectionName}_Form_Input_storeId"/>
		<input type="hidden" name="URL" value="<c:out value="${OrganizationsAndUsersViewURL}"/>" id="WC_${widgetName}_${sectionName}_Form_Input_URL"/>
		<input type="hidden" name="authToken" value="${authToken}" id="WC_${widgetName}_${sectionName}_Form_Input_authToken"/>
		<input type="hidden" id="AddressForm_FieldsOrderByLocale" value="<c:out value="${detailsFieldOrder}"/>,<c:out value="${addressFieldOrder}"/>"/>
		<input type="hidden" name="receiveSMSNotification" value="" id="WC_${widgetName}_${sectionName}_Form_Input_receiveSMSNotification"/>
		<input type="hidden" name="receiveSMS" value="" id="WC_${widgetName}_${sectionName}_Form_Input_receiveSMS"/>
		<input type="hidden" name="receiveEmail" value="" id="WC_${widgetName}_${sectionName}_Form_Input_receiveEmail"/>
		<c:if test="${fromPage == 'createUser'}">
			<%-- The challenge answer and question are necessary for the forget password feature. Therefore, they are set to "-" here. --%>
			<input type="hidden" name="challengeQuestion" value="-" id="WC_${widgetName}_${sectionName}_Form_Input_challengeQuestion"/>
			<input type="hidden" name="challengeAnswer" value="-" id="WC_${widgetName}_${sectionName}_Form_Input_challengeAnswer"/>
			<input type="hidden" name="parentMemberId" id="WC_${widgetName}_${sectionName}_Form_Input_parentMemberId" value="<c:out value='${parentMemberId}'/>"/>
		</c:if>
		
		<c:if test="${!empty WCParam.nextUrl}">
			<input type="hidden" name="nextUrl" value="<c:out value="${WCParam.nextUrl}"/>" id="WC_${widgetName}_${sectionName}_Form_Input_nextUrl"/>
		</c:if>       	
		
		<%@ include file="UserInfoUI/UserDetailsForm_UI.jspf" %>
		<c:if test="${fromPage == 'editUser' }" >
			<div class="button_footer_line no_float" id="WC_${widgetName}_${sectionName}_Buttons">
				<c:set var="prepareFormSubmitJS" value="JavaScript:OrganizationUserInfoJS.saveUserInfoChange(document.UserDetails);return false;"/>
				<a href="#" role="button" class="button_primary" id="WC_${widgetName}_${sectionName}_links_1" tabindex="0" onclick="${prepareFormSubmitJS}">
					<div class="left_border"></div>
					<div class="button_text"><fmt:message bundle="${widgetText}" key="SAVE"/></div>												
					<div class="right_border"></div>
				</a>
				<c:if test="${env_shopOnBehalfEnabled_CSR eq 'true'}">
					<a href="#" role="button" class="button_primary" id="WC_${widgetName}_${sectionName}_links_2" tabindex="0" onclick="javascript:registeredCustomersJS.resetPasswordByAdminOnBehalfForBuyers('${logonId}');">
						<div class="left_border"></div>
						<div class="button_text"><fmt:message bundle="${widgetText}" key="RESET_PASSWORD"/></div>												
						<div class="right_border"></div>
					</a>
				</c:if>
				<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_${sectionName}_pageSection_cancel"><fmt:message bundle="${widgetText}" key="ACCE_ORGANIZATIONUSERINFO_CANCEL_${fn:toUpperCase(sectionName)}"/></span>
				<a role="button" class="button_secondary button_left_padding" id="WC_${widgetName}_${sectionName}_inks_2" tabindex="0" href="#" data-section-toggle="WC_${widgetName}_${sectionName}_pageSection" aria-describedBy="WC_${widgetName}_${sectionName}_pageSection_cancel">
					<div class="left_border"></div>
					<div class="button_text"><fmt:message bundle="${widgetText}" key="CANCEL"/></div>												
					<div class="right_border"></div>
				</a>
			</div>
			</form>
		</c:if>
	</div>
	<c:if test="${fromPage == 'editUser' }" >
		<div class="readField" id="WC_${widgetName}_${sectionName}_read" role="document" aria-labelledBy="WC_${widgetName}_${sectionName}_title" tabindex="0">
			<%@ include file="UserInfoUI/UserDetailsDisplay_Data.jspf" %>
			<%@ include file="UserInfoUI/UserInfoDisplay_UI.jspf" %>
		</div>
	</c:if>
</div>
<!-- END OrganizationUserDetails_UI.jspf -->