<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<script>
	shoppingListJS<c:out value="${param.parentPage}"/> = new ShoppingListJS(${storeParams}, ${catEntryParams}, {${shoppingListNames}}, "shoppingListJS<c:out value="${param.parentPage}"/>");
	dojo.topic.subscribe("DefiningAttributes_Resolved", function(catEntryId, productId) {
		eval("shoppingListJS<c:out value="${param.parentPage}"/>.setItemId(catEntryId, productId);");
	});
	dojo.topic.subscribe("QuickInfo_attributesChanged", function(catEntryAttributes) {
		eval("shoppingListJS<c:out value="${param.parentPage}"/>.setCatEntryAttributes(catEntryAttributes);");
	});
	dojo.topic.subscribe("Quantity_Changed", function(catEntryQuantityObject) {
		eval("shoppingListJS<c:out value="${param.parentPage}"/>.setCatEntryQuantity(catEntryQuantityObject);");
	});
	dojo.topic.subscribe("ShoppingList_Changed", function(serviceResponse) {
		eval("shoppingListJS<c:out value="${param.parentPage}"/>.updateShoppingListAndAddItem(serviceResponse);");
	});
	dojo.topic.subscribe("ShoppingListItem_Added", function() {
		eval("shoppingListJS<c:out value="${param.parentPage}"/>.deleteItemFromCart();");
	});
</script>
<%-- Use this section to evaluate the script if this component is added to a refresh area where script will not run directly --%>
<div id="shoppingListScript_<c:out value="${param.parentPage}"/>" style="display:none;">
	if(typeof(shoppingListJS<c:out value="${param.parentPage}"/>) == "undefined" || shoppingListJS<c:out value="${param.parentPage}"/> == null || !shoppingListJS<c:out value="${param.parentPage}"/>) {
		shoppingListJS<c:out value="${param.parentPage}"/> = new ShoppingListJS(${storeParams}, ${catEntryParams}, {${shoppingListNames}}, "shoppingListJS<c:out value="${param.parentPage}"/>");
		
		dojo.topic.subscribe("DefiningAttributes_Resolved", function(catEntryId, productId) {
			eval("shoppingListJS<c:out value="${param.parentPage}"/>.setItemId(catEntryId, productId);");
		});
		dojo.topic.subscribe("QuickInfo_attributesChanged", function(catEntryAttributes) {
			eval("shoppingListJS<c:out value="${param.parentPage}"/>.setCatEntryAttributes(catEntryAttributes);");
		});
		dojo.topic.subscribe("Quantity_Changed", function(catEntryQuantityObject) {
			eval("shoppingListJS<c:out value="${param.parentPage}"/>.setCatEntryQuantity(catEntryQuantityObject);");
		});
		dojo.topic.subscribe("ShoppingList_Changed", function(serviceResponse) {
			eval("shoppingListJS<c:out value="${param.parentPage}"/>.updateShoppingListAndAddItem(serviceResponse);");
		});
		dojo.topic.subscribe("ShoppingListItem_Added", function() {
			eval("shoppingListJS<c:out value="${param.parentPage}"/>.deleteItemFromCart();");
		});
	}
</div>
<%-- Pre-load the image and keep it ready --%>
<img style="display:none;" src="${shoppingListImage}"/>
<div style="position:relative;">
	<div id="<c:out value="${param.parentPage}"/>addToShoppingListBtn" class="dropdown_primary">
	
		<a id="<c:out value="${param.parentPage}"/>addToShoppingList" href="
			<c:choose>
				<c:when test="${userType eq 'G'}">
					javascript:shoppingListJS<c:out value="${param.parentPage}"/>.showDropDown();
				</c:when>
				<c:otherwise>
					javascript:shoppingListJS<c:out value="${param.parentPage}"/>.createDefaultListAndAddItem('${defaultShoppingListId}', '<c:out value="${param.orderItemId}"/>', '<c:if test="${empty param.orderItemId}"><c:out value="${param.parentPage}"/>addToShoppingList</c:if>');
				</c:otherwise>
			</c:choose>
			" class="button tlignore" role="button">
			<div class="left_border"></div>
			<div class="content">
				<c:choose>
					<c:when test="${empty param.orderItemId}">
						<fmt:message bundle="${storeText}" key="SL_ADD_TO_SHOPPING_LIST" />
					</c:when>
					<c:otherwise>
						<fmt:message bundle="${storeText}" key="MOVE_TO_WISH_LIST" />
					</c:otherwise>
				</c:choose>
			</div>
			<div class="right_border"></div>
		</a>
		
		<div class="drop">
		<div class="white_line"></div>
			<a id="<c:out value="${param.parentPage}"/>addToShoppingListDropdown" onmouseover="javascript: shoppingListJS<c:out value="${param.parentPage}"/>.mouseOnArrow = true;" onmouseout="javascript: shoppingListJS<c:out value="${param.parentPage}"/>.mouseOnArrow = false;" href="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.showDropDown();" class="dropdown_arrow tlignore" title="<fmt:message bundle="${storeText}" key="SL_MULTIPLE_SHOPPING_LIST_DD" />" role="button">
					<img src="${jspStoreImgDir}${env_vfileColor}widget_quick_info_popup/dropdown_arrow.png" alt="<fmt:message bundle="${storeText}" key="SL_MULTIPLE_SHOPPING_LIST_DD" />"/>
				</a>
			<div class="right_border"></div>
		</div>
	</div>
	
	<div id="<c:out value="${param.parentPage}"/>shoppingListDropDown" style="display: none" class="dropdown_list" onmousedown="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.hasFocus(event);"
		onkeydown="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.navigateDropDown(event);"
		onblur="javascript: document.getElementById('<c:out value="${param.parentPage}"/>addToShoppingListDropdown').focus();" role="menu">
		<div class="wish_order_list">
			<c:choose>
				<c:when test="${userType eq 'G'}">
					<div role="menuitem" class="message"><fmt:message bundle="${storeText}" key="SL_SIGN_IN_OR_REGISTER_TO_ACCESS_LIST" /></div>
					<div class="divider"></div>
					<div role="menuitem" id="<c:out value="${param.parentPage}"/>ShoppingList_0" class="created_list" 
					onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusList(0);"
					onblur="javascript: this.className = 'created_list';"
					>
							<a class="tlignore" id="<c:out value="${param.parentPage}"/>ShoppingListLink_0" href="#" onClick="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.redirectToSignOn();"
								onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusListLink(0);"
								role="menuitem" title="<fmt:message bundle="${storeText}" key='SL_SIGN_IN_OR_REGISTER_TO_ACCESS_LIST' />"><fmt:message bundle="${storeText}" key="SL_SIGN_IN_OR_REGISTER" /></a>
					</div>
				</c:when>
				<c:otherwise>
					<c:if test="${fn:length(shoppingListMap) == 0}">
						<div role="menuitem" class="message"><fmt:message bundle="${storeText}" key="SL_SELECT_LIST" /></div>
					</c:if>
					<div role="menuitem" id="<c:out value='${param.parentPage}'/>listOfShoppingLists" class="created_list_wrapper" tabindex="-1" onblur="javascript: if(!shoppingListJS<c:out value='${param.parentPage}'/>.exceptionFlag){shoppingListJS<c:out value='${param.parentPage}'/>.dropDownInFocus = false; shoppingListJS<c:out value='${param.parentPage}'/>.hideIfNoFocus();}">														
						<c:forEach var="shoppingList" items="${shoppingListMap}">
							<div role="menuitem" id="<c:out value="${param.parentPage}"/>ShoppingList_${shoppingList.key}" class="created_list" role="link" onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusList(${shoppingList.key});"
							onblur="javascript: this.className = 'created_list';"
							onclick="
									<c:choose>
										<c:when test="${empty param.orderItemId}">
											shoppingListJS<c:out value="${param.parentPage}"/>.addToList('${shoppingList.key}', '<c:if test="${empty param.orderItemId}"><c:out value="${param.parentPage}"/>addToShoppingList</c:if>');
										</c:when>
										<c:otherwise>
											shoppingListJS<c:out value="${param.parentPage}"/>.addToListAndDelete('${shoppingList.key}', '<c:out value="${param.orderItemId}"/>', '<c:if test="${empty param.orderItemId}"><c:out value="${param.parentPage}"/>addToShoppingList</c:if>');
										</c:otherwise>
									</c:choose>
							">
								<a class="tlignore" id="<c:out value="${param.parentPage}"/>ShoppingListLink_${shoppingList.key}" href="
									<c:choose>
										<c:when test="${empty param.orderItemId}">
											javascript:shoppingListJS<c:out value="${param.parentPage}"/>.addToList('${shoppingList.key}', '<c:if test="${empty param.orderItemId}"><c:out value="${param.parentPage}"/>addToShoppingList</c:if>');
										</c:when>
										<c:otherwise>
											javascript:shoppingListJS<c:out value="${param.parentPage}"/>.addToListAndDelete('${shoppingList.key}', '<c:out value="${param.orderItemId}"/>', '<c:if test="${empty param.orderItemId}"><c:out value="${param.parentPage}"/>addToShoppingList</c:if>');
										</c:otherwise>
									</c:choose>
									" onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusListLink(${shoppingList.key});" role="menuitem">
									<c:out value ="${shoppingList.value}"/>
								</a>
							</div>
						</c:forEach>
						<div style="display:none;" id="${param.parentPage}ShoppingListDivider"></div>
					</div>
					<div class="divider"></div>
					<div role="menuitem" id="<c:out value="${param.parentPage}"/>ShoppingList_0" class="created_list" role="link" onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusList(0);"
					onmouseover="javascript: shoppingListJS<c:out value='${param.parentPage}'/>.exceptionFlag = true; document.getElementById('<c:out value="${param.parentPage}"/>ShoppingListLink_0').focus();"
					onmouseout="javascript: this.className = 'created_list'; shoppingListJS<c:out value='${param.parentPage}'/>.exceptionFlag = false; if(document.getElementById('<c:out value="${param.parentPage}"/>shoppingListDropDown').style.display != 'none'){document.getElementById('<c:out value="${param.parentPage}"/>listOfShoppingLists').focus();}"
					onblur="javascript: this.className = 'created_list';"
					onclick="shoppingListJS<c:out value="${param.parentPage}"/>.showPopup('create');">
							<a class="tlignore" id="<c:out value="${param.parentPage}"/>ShoppingListLink_0" href="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.showPopup('create');"
								onfocus="javascript:shoppingListJS<c:out value="${param.parentPage}"/>.focusListLink(0);"
								role="menuitem"><fmt:message bundle="${storeText}" key="SL_CREATE_NEW_SHOPPING_LIST" /></a>
					</div>
				</c:otherwise>
			</c:choose>
		</div>
	</div>
</div>
<!-- Hidden Fields -->
<input id="<c:out value="${param.parentPage}"/>storeParams" type="hidden" value="${storeParams}"/>
<input id="<c:out value="${param.parentPage}"/>catEntryParams" type="hidden" value="${fn:escapeXml(catEntryParams)}"/>
<input id="<c:out value="${param.parentPage}"/>shoppingListNames" type="hidden" value="{${shoppingListNames}}"/>

<%@ include file="CreateShoppingListPopup.jspf" %>
<%@ include file="ShoppingListCreateSuccessPopup.jspf" %>
