<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2009, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<!-- BEGIN CommonJSPFToInclude.jspf -->

	<%@ include file="ProgressBar.jspf"%>
	<%@ include file="MessageDisplay.jspf"%>
	<%@ include file="ComparePopup.jspf"%>
	<%@ include file="InactivityWarningPopup.jspf"%>
	<c:if test="${env_storePreviewLink}">
		<%@ include file="PreviewModeTab.jspf"%>
	</c:if>
	<c:if test="${env_schemeToUse eq 'https' && (empty pageGroup || (pageGroup ne 'Content' && pageGroup ne 'Category' && pageGroup ne 'Search' && pageGroup ne 'Product' && pageGroup ne 'Item' && pageGroup ne 'Kit' && pageGroup ne 'Bundle' && pageGroup ne 'DynamicKit' && pageGroup ne 'PredDynaKit'))}">
		<%@ include file="CSRFProtection.jspf"%>
	</c:if>

<!-- END CommonJSPFToInclude.jspf -->