<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2014, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- BEGIN GlobalLoginOrganizationAndContract_UI.jspf -->

<input type="hidden" id="${widgetId}_userDisplayNameField" value="<c:out value='${userDisplayName}'/>"/>
<input type="hidden" id="${widgetId}_activeContractIdsArrayLength" value="<c:out value='${activeContractIdsArrayLength}'/>"/>
<input type="hidden" id="${widgetId}_setFirstContractInSessionURLField" value="<c:out value='${ContractSetInSessionURL}'/>"/>
<input type="hidden" id="${widgetId}_shopOnBehalfSessionEstablished" value="<c:out value="${env_shopOnBehalfSessionEstablished}"/>"/>
<input type="hidden" id="${widgetId}_numEntitledContracts" value="${numEntitledContracts}"/>
<input type="hidden" id="${widgetId}_callerId" value="${CommandContext.callerId}"/>

<flow:ifEnabled feature="accountParticipantRole">
	<form name="${widgetId}_OrganizationSetInSessionForm" id="${widgetId}_OrganizationSetInSessionForm" action="OrganizationSetInSession" method="get" >
		<input type="hidden" name="storeId"   value="<c:out value="${WCParam.storeId}"/>"  />
		<input type="hidden" name="catalogId" value="<c:out value="${WCParam.catalogId}"/>" />			
		<input type="hidden" id="${widgetId}_orgSetInSessionURL" name="URL" value="<c:out value="${homePageURL}"/>" />
			<div class="field">
				<div class="label">
					<c:choose>
						<c:when test="${numEntitledOrgs > 1}">
							<%-- if there is more than one organization available, display in dropdown format --%>
							<div class="label"><fmt:message bundle="${widgetText}" key="GLOBALLOGIN_SIGN_OUT_PANEL_ORGANIZATION"/></div>
							<div id="${widgetId}_globalLogin_Organzation_List" class="globalLogin selectWrapper">									
								<select name="activeOrgId" id="${widgetId}_WC_B2BMyAccountParticipantRole_select_1" data-dojo-type="dijit/form/Select" title="<fmt:message key='ACCE_SORT_BY_ORGANIZATION' bundle='${widgetText}'/>" baseClass="dijitSelect dijitValidationTextBox orderBySelect" onChange="javascript:setDeleteCartCookie();GlobalLoginJS.updateOrganization('OrganizationSetInSessionForm','${widgetId}');">
									<c:forEach items="${entitledOrgs.entitledOrganizations}" var="entitledOrg">
										<c:set var="entitledOrgId" value="${entitledOrg.organizationId}"/>
										<option value="<c:out value="${entitledOrgId}"/>"<c:if test="${entitledOrgId == activeOrgId}"> selected="selected"</c:if>>
											<c:out value="${entitledOrg.organizationName}"/>
										</option>												
									</c:forEach>
								</select>
							</div>									
						</c:when>
						<c:otherwise>
							<%-- if there is only one organization available, display in plain text and not dropdown format --%>
							<fmt:message bundle="${widgetText}" key="GLOBALLOGIN_SIGN_OUT_PANEL_ORGANIZATION"/> <c:out value="${entitledOrgs.entitledOrganizations[0].organizationName}"/>
							<c:set var="entitledOrgId" value="${entitledOrgs.entitledOrganizations[0].organizationId}"/>
							<input type="hidden" id="${widgetId}_WC_B2BMyAccountParticipantRole_select_1" value="<c:out value="${entitledOrgId}"/>"/>	
						</c:otherwise>
					</c:choose>
												
				</div>
			</div>
	</form>
</flow:ifEnabled>

<c:if test="${env_contractSelection}">	
	<form name="${widgetId}_ContractSetInSessionForm" id="${widgetId}_ContractSetInSessionForm" action="ContractSetInSession" method="get">
		<input type="hidden" name="storeId"   value="<c:out value="${WCParam.storeId}"/>" />
		<input type="hidden" name="catalogId" value="<c:out value="${WCParam.catalogId}"/>" />
		<input type="hidden" id="${widgetId}_contractSetInSessionURL" name="URL" value="<c:out value="${env_TopCategoriesDisplayURL}"/>" />
		<div class="field">
				<div class="label">							
					<c:choose>
						<c:when test="${numEntitledContracts > 1}">
							<%-- if there is more than one contract available, display in dropdown format --%>	
							<div class="label"><fmt:message bundle="${widgetText}" key="GLOBALLOGIN_SIGN_OUT_PANEL_CONTRACT"/></div>
							<div id="${widgetId}_globalLogin_Contract_List" class="globalLogin selectWrapper">									
								<select name="contractId" id="${widgetId}_WC_B2BMyAccountParticipantRole_select_2" data-dojo-type="dijit/form/Select" title="<fmt:message key='ACCE_SORT_BY_CONTRACT' bundle='${widgetText}'/>" baseClass="dijitSelect dijitValidationTextBox orderBySelect">	
									<c:forEach items="${entitledContracts.contracts}" var="entitledContract">
										<c:set var="check" value="false" />
										<c:forTokens items="${activeContractIds}" delims=";" var="currentContractKey">
											<c:if test="${entitledContract.key == currentContractKey}">
												<c:set var="check" value="true" />
											</c:if>
										</c:forTokens>																																														
										<option value="${entitledContract.key}"<c:if test="${check}"> selected="selected"</c:if>>
											<c:out value='${entitledContract.value}'/>
										</option>																						
									</c:forEach>
								</select>
							</div>	
						</c:when>
						<c:otherwise>
							<%-- if there is only one contract available, display in plain text --%>
							<c:forEach items="${entitledContracts.contracts}" var="entitledContract">
								<input name="contractId" type="hidden" id='${widgetId}_WC_B2BMyAccountParticipantRole_checkbox_<c:out value="${entitledContract.key}"/>' value="${entitledContract.key}" /> 
								<fmt:message bundle="${widgetText}" key="GLOBALLOGIN_SIGN_OUT_PANEL_CONTRACT"/> <c:out value='${entitledContract.value}'/>
							</c:forEach>
						</c:otherwise>
					</c:choose>																											
			</div>
		</div>
	</form>
</c:if >

<c:if test="${numEntitledOrgs > 1 || numEntitledContracts > 1}">
		<a id="${widgetId}_${env_shopOnBehalfEnabled eq true ? 'onBehalfOf_' : ''}GlobalLoginContinueShopping" class="button_primary" role="button" href='#' onclick="javascript:GlobalLoginJS.updateContract('${widgetId}_ContractSetInSessionForm')";>
			<div class="left_border"></div>
			<div class="button_text"><span><fmt:message bundle="${widgetText}" key="GLOBALLOGIN_CONTINUE_SHOPPING"/></span></div>								
			<div class="right_border"></div>
		</a>
</c:if>

	
<c:if test="${env_contractSelection}">
	<div class="footer">	
</c:if>
 <a id="${widgetId}_${env_shopOnBehalfEnabled eq true ? 'onBehalfOf_' : ''}loggedInDropdown_SignOut" href='<c:out value="${Logon_LogoutURL}"/>' class="button_secondary signOutButton" role="button">
   <div class="left_border"></div>
 	 <div class="button_text"><span><fmt:message bundle="${widgetText}" key="GLOBALLOGIN_SIGN_OUT_TEXT"/></span></div>								
   <div class="right_border"></div>
 </a>
<c:if test="${env_contractSelection}">
 </div>		
</c:if>       

<!-- END GlobalLoginOrganizationAndContract_UI.jspf -->
