<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2013 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:if test="${!empty WCParam.categoryId && empty globalbreadcrumbs}">
	<%--Retrieve the breadcrumb hierarchy from the CatalogNavigationView based on the categoryId --%>
	<wcf:rest var="bcCategoryCatalogNavigationView1" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/productview/byCategory/${WCParam.categoryId}" >	
		<wcf:param name="langId" value="${langId}"/>
		<wcf:param name="currency" value="${env_currencyCode}"/>
		<wcf:param name="responseFormat" value="json"/>		
		<wcf:param name="catalogId" value="${WCParam.catalogId}"/>
		<wcf:param name="profileName" value="IBM_BreadCrumbByCategoryUniqueId" />
		<c:forEach var="contractId" items="${env_activeContractIds}">
			<wcf:param name="contractId" value="${contractId}"/>
		</c:forEach>
	</wcf:rest>
	<c:set var="globalbreadcrumbs" value="${bcCategoryCatalogNavigationView1}" scope="request"/>
</c:if>

<%-- A Map to store the bread crumb items along with their URLs--%>
<jsp:useBean id="breadCrumbItemsMap" class="java.util.LinkedHashMap" type="java.util.Map"/>

<%-- Sets the Home url to the Map--%>
<fmt:message var="home" key="BCT_HOME" bundle="${widgetText}" />
<c:set target="${breadCrumbItemsMap}" property="${home}" value="${env_TopCategoriesDisplayURL}"/>

<c:if test="${myAccountPage == true && myAccountLandingPage != true}">
	<fmt:message var="myAccount" key="MA_MYACCOUNT" bundle="${widgetText}" />
	<wcf:url var="MyAccountURL" value="AjaxLogonForm">
		  <wcf:param name="langId" value="${langId}" />
		  <wcf:param name="storeId" value="${WCParam.storeId}" />
		  <wcf:param name="catalogId" value="${WCParam.catalogId}" />
		  <wcf:param name="myAcctMain" value="1" />
	</wcf:url>
	<c:set target="${breadCrumbItemsMap}" property="${myAccount}" value="${MyAccountURL}"/>
	<c:if test="${!empty myAccountParentPage}">
			<c:set target="${breadCrumbItemsMap}" property="${myAccountParentPage}" value="${myAccountParentPageDisplayURL}"/>
	</c:if>
</c:if>

<%-- Initialize lastBreadCrumbItem to Home --%>
<c:set var="lastBreadCrumbItem" value="${home}"/>


	<c:if test="${empty WCParam.categoryId && empty WCParam.searchTerm}">
		<fmt:message var="searchString" key="SEARCH_ALL_PRODUCTS" bundle="${widgetText}" />
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
	<c:if test="${!empty WCParam.advancedSearch}">
		<wcf:url var="AdvancedSearchDisplayViewURL" value="AdvancedSearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>
			<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
			<wcf:param name="filterType" value="${WCParam.filterType}"/>
			<wcf:param name="categoryId" value="${WCParam.categoryId}"/>
			<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="minPrice" value="${WCParam.minPrice}"/>
			<wcf:param name="maxPrice" value="${WCParam.maxPrice}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>
		<fmt:message var="searchString" key="TITLE_ADVANCED_SEARCH" bundle="${widgetText}"/>
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${AdvancedSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
	<c:if test="${!empty WCParam.searchTerm}">
		<wcf:url var="IsolateSearchTermSearchDisplayViewURL" value="SearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>	
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>
		<fmt:message var="searchString" key="SEARCH_TERM" bundle="${widgetText}" >
			<fmt:param value="${WCParam.searchTerm}"/>
		</fmt:message>
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${IsolateSearchTermSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
	<c:if test="${!empty WCParam.filterTerm}">
		<wcf:url var="IsolateFilterTermSearchDisplayViewURL" value="SearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
			<wcf:param name="filterType" value="${WCParam.filterType}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>	
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>
		<fmt:message var="searchString" key="FILTER_TERM" bundle="${widgetText}" >
			<fmt:param value="${WCParam.filterTerm}"/>
		</fmt:message>
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${IsolateFilterTermSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
	<c:if test="${!empty WCParam.manufacturer}">
		<wcf:url var="IsolateManufacturerSearchDisplayViewURL" value="SearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
			<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
			<wcf:param name="filterType" value="${WCParam.filterType}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>			
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>
		<fmt:message var="brandString" key="SEARCH_FACET_MANUFACTURER" bundle="${widgetText}"/>
		<c:set var="searchString" value="${brandString}: ${WCParam.manufacturer}"/>
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${IsolateManufacturerSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
	<c:if test="${!empty WCParam.minPrice || !empty WCParam.maxPrice}">
		<wcf:url var="IsolatePriceSearchDisplayViewURL" value="SearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
			<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
			<wcf:param name="filterType" value="${WCParam.filterType}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>	
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="minPrice" value="${WCParam.minPrice}"/>
			<wcf:param name="maxPrice" value="${WCParam.maxPrice}"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>

		<c:choose>
			<c:when test="${empty WCParam.minPrice}">
				<fmt:message var="searchString" key="PRICE_RANGE_LESS_THAN" bundle="${widgetText}">
					<fmt:param value="${WCParam.maxPrice}"/>
				</fmt:message>
			</c:when>
			<c:when test="${empty WCParam.maxPrice}">
				<fmt:message var="searchString" key="PRICE_RANGE_GREATER_THAN" bundle="${widgetText}" >
					<fmt:param value="${WCParam.minPrice}"/>
				</fmt:message>
			</c:when>
			<c:otherwise>
				<fmt:message var="searchString" key="LN_SEARCH_FACET_PRICE_BETWEEN" bundle="${widgetText}" >
					<fmt:param value="${env_CurrencySymbolToFormat}${fn:trim(WCParam.minPrice)}" />
					<fmt:param value="${env_CurrencySymbolToFormat}${fn:trim(WCParam.maxPrice)}" />
				</fmt:message>
			</c:otherwise>
		</c:choose>
			
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${IsolatePriceSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>

	</c:if>


<c:set var="searchBreadcrumb" value="${globalbreadcrumbs.breadCrumbTrailEntryViewExtended[0]}"/>
<%-- Find the best matching breadcrumb for category page based on all the paths returned by search service --%>
<c:if test="${!empty WCParam.top_category5 || !empty WCParam.top_category4 || !empty WCParam.top_category3 || !empty WCParam.top_category2 || !empty WCParam.top_category || !empty WCParam.parent_category_rn || !empty WCParam.categoryId}">
	<c:set var="exactHierarchyFound" value="false"/>
	<c:set var="expectedHierarchy" value=""/>
	<c:choose>
		<c:when test="${empty WCParam.searchTerm}">
			<%-- Catalog browsing page --%>
			<c:if test="${!empty WCParam.top_category5}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.top_category5}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.top_category5}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.top_category4}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.top_category4}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.top_category4}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.top_category3}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.top_category3}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.top_category3}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.top_category2}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.top_category2}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.top_category2}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.top_category}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.top_category}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.top_category}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.parent_category_rn && WCParam.top_category != WCParam.parent_category_rn}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.parent_category_rn}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.parent_category_rn}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
			<c:if test="${!empty WCParam.categoryId && WCParam.categoryId != WCParam.parent_category_rn && WCParam.categoryId != WCParam.top_category}">
				<c:choose>
					<c:when test="${empty expectedHierarchy}">
						<c:set var="expectedHierarchy" value="${WCParam.categoryId}"/>
					</c:when>
					<c:otherwise>
						<c:set var="expectedHierarchy" value="${expectedHierarchy},${WCParam.categoryId}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:when>
		<c:otherwise>
			<%-- Search results page --%>
			<c:if test="${!empty WCParam.categoryFacetHierarchyPath}">
				<c:set var="expectedHierarchy" value="${WCParam.categoryFacetHierarchyPath}"/>
			</c:if>
		</c:otherwise>
	</c:choose>
	
	<c:forEach var="aFullBreadcrumb" items="${globalbreadcrumbs.breadCrumbTrailEntryViewExtended}">
		<c:set var="currentHierarchy" value=""/>
		<c:forEach var="breadcrumbKey" begin="0" end="${fn:length(aFullBreadcrumb)}">
			<c:set var="breadcrumbKeyStr">${breadcrumbKey}</c:set>
			<c:set var="aBreadcrumbEntry" value="${aFullBreadcrumb[breadcrumbKeyStr]}"/>
			<c:if test="${aBreadcrumbEntry.type_ == 'FACET_ENTRY_CATEGORY'}">
				<c:choose>
					<c:when test="${empty currentHierarchy}">
						<c:set var="currentHierarchy" value="${aBreadcrumbEntry.value}"/>
					</c:when>
					<c:otherwise>
						<c:set var="currentHierarchy" value="${currentHierarchy},${aBreadcrumbEntry.value}"/>
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:forEach>
		<c:choose>
			<c:when test="${currentHierarchy eq expectedHierarchy}">
				<c:set var="exactMatchBreadcrumb" value="${aFullBreadcrumb}"/>
			</c:when>
			<c:when test="${fn:contains(currentHierarchy, expectedHierarchy)}">
				<c:set var="bestMatchBreadcrumb" value="${aFullBreadcrumb}"/>
			</c:when>
		</c:choose>
	</c:forEach>
</c:if>
<c:choose>
	<c:when test="${!empty exactMatchBreadcrumb}">
		<c:set var="searchBreadcrumb" value="${exactMatchBreadcrumb}"/>
	</c:when>
	<c:when test="${!empty bestMatchBreadcrumb}">
		<c:set var="searchBreadcrumb" value="${bestMatchBreadcrumb}"/>
	</c:when>
	<c:otherwise>
		<c:set var="searchBreadcrumb" value="${globalbreadcrumbs.breadCrumbTrailEntryView}"/>
	</c:otherwise>
</c:choose>

<c:set var="categoryFacetCount" value="${0}"/>
<c:forEach var="searchBreadcrumbKey" begin="0" end="${fn:length(searchBreadcrumb)}">
	<c:set var="searchBreadcrumbKeyStr">${searchBreadcrumbKey}</c:set>
	<c:set var="breadcrumb" value="${searchBreadcrumb[searchBreadcrumbKeyStr]}"/>
	<c:set var="SEOPatternName" value="CanonicalCategoryURL"/>
	<c:if test="${breadcrumb.type_ == 'FACET_ENTRY_CATEGORY'}">
		<c:set var="categoryFacetCount" value="${categoryFacetCount + 1}"/>
		<c:choose>
			<c:when test="${!empty WCParam.searchTerm}">
				<wcf:url var="CategoryDisplayURL" value="SearchDisplay">
					<wcf:param name="langId" value="${langId}"/>
					<wcf:param name="urlLangId" value="${urlLangId}" />
					<wcf:param name="storeId" value="${storeId}"/>
					<wcf:param name="catalogId" value="${catalogId}"/>
					<wcf:param name="categoryId" value="${breadcrumb.value}" />
					<wcf:param name="categoryFacetHierarchyPath" value="${WCParam.categoryFacetHierarchyPath}"/>
					<wcf:param name="pageView" value="${env_defaultPageView}" />
					<wcf:param name="beginIndex" value="0"/>
					<wcf:param name="sType" value="SimpleSearch"/>
					<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
					<wcf:param name="showResultsPage" value="true"/>
					<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
					<wcf:param name="filterType" value="${WCParam.filterType}"/>
					<wcf:param name="searchType" value="${WCParam.searchType}"/>	
					<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
					<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
					<wcf:param name="minPrice" value="${WCParam.minPrice}"/>
					<wcf:param name="maxPrice" value="${WCParam.maxPrice}"/>
					<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
					<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
				</wcf:url>
			</c:when>
			<c:when test="${!empty WCParam.manufacturer}">
				<wcf:url var="CategoryDisplayURL" value="SearchDisplay">
					<wcf:param name="langId" value="${langId}"/>
					<wcf:param name="urlLangId" value="${urlLangId}" />
					<wcf:param name="storeId" value="${storeId}"/>
					<wcf:param name="catalogId" value="${catalogId}"/>
					<wcf:param name="categoryId" value="${breadcrumb.value}" />
					<wcf:param name="categoryFacetHierarchyPath" value="${WCParam.categoryFacetHierarchyPath}"/>
					<wcf:param name="pageView" value="${env_defaultPageView}" />
					<wcf:param name="beginIndex" value="0"/>
					<wcf:param name="sType" value="SimpleSearch"/>
					<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
					<wcf:param name="showResultsPage" value="true"/>
					<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
					<wcf:param name="minPrice" value="${WCParam.minPrice}"/>
					<wcf:param name="maxPrice" value="${WCParam.maxPrice}"/>
					<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
				</wcf:url>
			</c:when>
			<c:when test="${!empty WCParam.filterTerm}">
				<wcf:url var="CategoryDisplayURL" value="SearchDisplay">
					<wcf:param name="langId" value="${langId}"/>
					<wcf:param name="urlLangId" value="${urlLangId}" />
					<wcf:param name="storeId" value="${storeId}"/>
					<wcf:param name="catalogId" value="${catalogId}"/>
					<wcf:param name="categoryId" value="${breadcrumb.value}" />
					<wcf:param name="categoryFacetHierarchyPath" value="${WCParam.categoryFacetHierarchyPath}"/>
					<wcf:param name="pageView" value="${env_defaultPageView}" />
					<wcf:param name="beginIndex" value="0"/>
					<wcf:param name="sType" value="SimpleSearch"/>
					<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
					<wcf:param name="showResultsPage" value="true"/>
					<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
					<wcf:param name="minPrice" value="${WCParam.minPrice}"/>
					<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
					<wcf:param name="maxPrice" value="${WCParam.maxPrice}"/>
					<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
				</wcf:url>
			</c:when>
			<c:otherwise>
				<c:choose>
					<c:when test="${categoryFacetCount == 1}">
						<c:set var="topCategoryId" value="${breadcrumb.value}"/>
					</c:when>
					<c:when test="${categoryFacetCount == 2}">
						<c:set var="subCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURL"/>
					</c:when>
					<c:when test="${categoryFacetCount == 3}">
						<c:set var="curCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURLWithParentCategory"/>
					</c:when>
					<c:when test="${categoryFacetCount == 4}">
						<c:set var="topCategory2Id" value="${topCategoryId}"/>
						<c:set var="topCategoryId" value="${subCategoryId}"/>
						<c:set var="subCategoryId" value="${curCategoryId}"/>
						<c:set var="curCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURLWith4Level"/>
					</c:when>
					<c:when test="${categoryFacetCount == 5}">
						<c:set var="topCategory3Id" value="${topCategory2Id}"/>
						<c:set var="topCategory2Id" value="${topCategoryId}"/>
						<c:set var="topCategoryId" value="${subCategoryId}"/>
						<c:set var="subCategoryId" value="${curCategoryId}"/>
						<c:set var="curCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURLWith5Level"/>
					</c:when>
					<c:when test="${categoryFacetCount == 6}">
						<c:set var="topCategory4Id" value="${topCategory3Id}"/>
						<c:set var="topCategory3Id" value="${topCategory2Id}"/>
						<c:set var="topCategory2Id" value="${topCategoryId}"/>
						<c:set var="topCategoryId" value="${subCategoryId}"/>
						<c:set var="subCategoryId" value="${curCategoryId}"/>
						<c:set var="curCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURLWith6Level"/>
					</c:when>
					<c:when test="${categoryFacetCount == 7}">
						<c:set var="topCategory5Id" value="${topCategory4Id}"/>
						<c:set var="topCategory4Id" value="${topCategory3Id}"/>
						<c:set var="topCategory3Id" value="${topCategory2Id}"/>
						<c:set var="topCategory2Id" value="${topCategoryId}"/>
						<c:set var="topCategoryId" value="${subCategoryId}"/>
						<c:set var="subCategoryId" value="${curCategoryId}"/>
						<c:set var="curCategoryId" value="${breadcrumb.value}"/>
						<c:set var="SEOPatternName" value="CategoryURLWith7Level"/>
					</c:when>
				</c:choose>
				<wcf:url var="CategoryDisplayURL" patternName="${SEOPatternName}" value="Category3">
					<wcf:param name="langId" value="${langId}" />
					<wcf:param name="urlLangId" value="${urlLangId}" />
					<wcf:param name="storeId" value="${storeId}" />
					<wcf:param name="catalogId" value="${catalogId}" />
					<wcf:param name="categoryId" value="${breadcrumb.value}" />
					<wcf:param name="categoryFacetHierarchyPath" value="${WCParam.categoryFacetHierarchyPath}"/>
					<c:if test = "${!empty subCategoryId}">
						<wcf:param name="parent_category_rn" value="${subCategoryId}" />
					</c:if>
					<wcf:param name="top_category5" value="${topCategory5Id}" />
					<wcf:param name="top_category4" value="${topCategory4Id}" />
					<wcf:param name="top_category3" value="${topCategory3Id}" />
					<wcf:param name="top_category2" value="${topCategory2Id}" />
					<wcf:param name="top_category" value="${topCategoryId}" />
					<wcf:param name="pageView" value="${env_defaultPageView}" />
					<wcf:param name="beginIndex" value="0" />
				</wcf:url>
			</c:otherwise>
		</c:choose>
		<c:set target="${breadCrumbItemsMap}" property="${breadcrumb.label}" value="${CategoryDisplayURL}"/>
		<c:set var="lastBreadCrumbItem" value="${breadcrumb.label}"/>
	</c:if>
</c:forEach>

<c:forEach var="breadcrumb" items="${globalbreadcrumbs.breadCrumbTrailEntryView}">
	<c:if test="${breadcrumb.type_ != 'FACET_ENTRY_CATEGORY' && !fn:startsWith(breadcrumb.value, 'mfName') && !fn:startsWith(breadcrumb.value, 'price_')}">
		<wcf:url var="IsolateFacetSearchDisplayViewURL" value="SearchDisplay">
			<wcf:param name="langId" value="${langId}"/>
			<wcf:param name="storeId" value="${WCParam.storeId}"/>
			<wcf:param name="catalogId" value="${WCParam.catalogId}"/>			
			<wcf:param name="pageView" value="${pageView}"/>
			<wcf:param name="beginIndex" value="0"/>
			<wcf:param name="pageSize" value="${WCParam.pageSize}"/>
			<wcf:param name="manufacturer" value="${WCParam.manufacturer}"/>
			<wcf:param name="filterTerm" value="${WCParam.filterTerm}"/>
			<wcf:param name="filterType" value="${WCParam.filterType}"/>
			<wcf:param name="searchType" value="${WCParam.searchType}"/>			
			<wcf:param name="searchTerm" value="${WCParam.searchTerm}"/>
			<wcf:param name="searchTermScope" value="${WCParam.searchTermScope}"/>
			<wcf:param name="sType" value="${WCParam.sType}"/>
			<wcf:param name="resultCatEntryType" value="${WCParam.resultCatEntryType}"/>
			<wcf:param name="showResultsPage" value="true"/>
			<wcf:param name="advancedSearch" value="${WCParam.advancedSearch}"/>
		</wcf:url>
		<c:set var="searchString" value="${breadcrumb.label}"/>
		<c:set target="${breadCrumbItemsMap}" property="${searchString}" value="${IsolateFacetSearchDisplayViewURL}"/>
		<c:set var="lastBreadCrumbItem" value="${searchString}"/>
	</c:if>
</c:forEach>
<c:if test="${!empty WCParam.facet}">
		<c:forEach var="facet" items="${globalfacets}">
			<c:forEach var="facetVal" items="${facet.entry}">
				<c:if test="${facetVal.value eq WCParam.facet}">
					<c:set var="lastBreadCrumbItem" value="${facetVal.label}"/>
				</c:if>
			</c:forEach>
		</c:forEach>
</c:if>
<%-- Check if productId is passed as a param --%>
<c:if test="${!empty param.productId}">
	<c:set var="productId" value="${param.productId}"/>
</c:if>
<c:if test="${!empty WCParam.productId}">
	<c:set var="productId" value="${WCParam.productId}"/>
</c:if>
<c:if test="${!empty productId}">
	<%-- Try to get it from our internal cached hashMap --%>
	<c:set var="key1" value="${productId}+getCatalogEntryViewSummaryByID"/>
	<c:set var="bcCatalogEntry" value="${cachedCatalogEntryDetailsMap[key1]}"/>
	<c:if test="${empty bcCatalogEntry}">
		<c:set var="key1" value="${productId}+getCatalogEntryViewAllByID"/>
		<c:set var="bcCatalogEntry" value="${cachedCatalogEntryDetailsMap[key1]}"/>
		<c:if test="${empty bcCatalogEntry}">
			<%-- Sets Product Name as the last bread crumb item --%>
			<c:catch var ="invalidProductException">
				<wcf:rest var="bcCatalogNavigationView" url="${searchHostNamePath}${searchContextPath}/store/${WCParam.storeId}/productview/byId/${productId}" >
							<wcf:param name="langId" value="${langId}" />
							<wcf:param name="currency" value="${env_currencyCode}" />
							<wcf:param name="responseFormat" value="json" />
							<wcf:param name="catalogId" value="${WCParam.catalogId}" />
							<c:forEach var="contractId" items="${env_activeContractIds}">
								<wcf:param name="contractId" value="${contractId}"/>
							</c:forEach>
				</wcf:rest>
			</c:catch>
			<c:if test="${empty invalidProductException}">
				<c:set var="bcCatalogEntry" value="${bcCatalogNavigationView.catalogEntryView[0]}"/>
				<%-- Cache it in our internal hash map --%>
				<wcf:set target = "${cachedCatalogEntryDetailsMap}" key="${productId}+getCatalogEntryViewSummaryByID" value="${bcCatalogEntry}"/>
			</c:if>
		</c:if>
	</c:if>
	<c:if test="${empty invalidProductException}">
		<c:set var="lastBreadCrumbItem" value="${bcCatalogEntry.name}"/>
	</c:if>
</c:if>

<c:if test="${!empty param.pageName}">
	<c:set var="pageName" value="${param.pageName}"/>
</c:if>
<c:if test="${!empty WCParam.pageName}">
	<c:set var="pageName" value="${WCParam.pageName}"/>
</c:if>

<%-- If we have additional breadcrumbs to show, then add them --%>
<c:if test="${!empty addtionalBCT && !empty additionalBCT_URL}">
	<c:set target="${breadCrumbItemsMap}" property="${addtionalBCT}" value="${additionalBCT_URL}"/>
</c:if>

<%-- If we are in compare results page, then set lastBreadCrumbItem to compare.. Otherwise remove the lastBreadCrumbItem from the hashMap... --%>
<c:choose>
	<c:when test="${pageName eq 'ProductComparePage'}">
		<%-- Add fromPage parameter to the existing last bread crumb URL. Use c:url since we are just appending another parameter to the existing URL --%>
		<c:set var="lastBreadCrumbURL" value="${breadCrumbItemsMap[lastBreadCrumbItem]}"/>
		<c:url var="lastBreadCrumbURL" value="${lastBreadCrumbURL}">
			<c:param name="fromPage" value="compare"/>
		</c:url>
		<c:set target="${breadCrumbItemsMap}" property="${lastBreadCrumbItem}" value="${lastBreadCrumbURL}"/>
		<fmt:message var="lastBreadCrumbItem" key="COMPARE"  bundle="${widgetText}" />
	</c:when>
	<c:otherwise>
		<c:set target="${breadCrumbItemsMap}" property="${lastBreadCrumbItem}" value="${null}"/>
	</c:otherwise>
</c:choose>

<c:if test="${param.pageGroup == 'Content' && empty productId && empty WCParam.categoryId}">
	<c:choose>
		<c:when test="${!empty contentPageTitle}">
			<c:set var="lastBreadCrumbItem" value="${contentPageTitle}"/>
		</c:when>
		<c:otherwise>
			<c:set var="lastBreadCrumbItem" value="${contentPageName}"/>
		</c:otherwise>
	</c:choose>	
</c:if>
<c:forEach var="breadCrumb" items="${breadCrumbItemsMap}" varStatus="status">
	<c:set var="breadCrumbList" value="${breadCrumbList}${breadCrumb.key}" scope="request" />
	<c:if test="${!empty lastBreadCrumbItem}">
		<c:set var="breadCrumbList" value="${breadCrumbList};" scope="request"/>
	</c:if>
</c:forEach>
<c:set var="breadCrumbList" value="${breadCrumbList}${lastBreadCrumbItem}" scope="request"/>
