<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2014, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- BEGIN UserMemberGroupManagement_UI.jspf -->
<c:if test="${not empty availableGroupsMap}">
<c:set var="displayAttribute" value="" />
<c:if test="${fromPage == 'editUser' }" >
	<%-- used for display readOnly view --%>
	<c:set var="displayAttribute" value="readOnly" />
</c:if>

<div class="pageSection ${displayAttribute}" id="WC_${widgetName}_pageSection" >
	<div class="pageSectionTitle" >
		<h2 id="WC_${widgetName}_title"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_MEMBERGROUP"/></h2>
		<c:if test="${fromPage == 'editUser' }">
			<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_pageSection_edit"><fmt:message bundle="${widgetText}" key="ACCE_${widgetNameCaps}_EDIT"/></span>
			<a id="WC_${widgetName}_EditIcon" class="editIcon" data-section-toggle="WC_${widgetName}_pageSection" href="#" aria-describedBy='WC_${widgetName}_pageSection_edit' aria-label='<fmt:message bundle="${widgetText}" key="ORGANIZATION_CLICK2EDIT_BUTTON_LABEL"/>' role="button">
				<img src="<c:out value='${jspStoreImgDir}'/>images/edit_icon.png" alt=''>
			</a>
		</c:if>
	</div>
	<div id="WC_${widgetName}_edit" class="editField ${collapsibleContent} memberGroup" role="form" aria-labelledBy="WC_${widgetName}_title" >
		<form name="memberGroupForm" id="${memberGroupFormId}" method="post" aria-hidden="true">
			<input type="hidden" name="storeId" value="<c:out value="${WCParam.storeId}"/>" id="WC_${widgetName}_Form_Input_storeId"/>
			<input type="hidden" name="URL" value="StoreView" id="WC_${widgetName}_Form_Input_URL"/>
			<input type="hidden" name="authToken" value="${authToken}" id="WC_${widgetName}_Form_Input_authToken"/>
			<input type="hidden" name="userId" value="<c:out value="${memberId}"/>" id="WC_${widgetName}_Form_Input_userId"/>
			<c:forEach var="incGrp" items="${incGroups.resultList}" >
				<input name="addAsExplicitInclusionToMemberGroupId" type="hidden" value="<c:out value="${incGrp.memberGroupId}"/>" />
			</c:forEach>
			<c:forEach var="excGrp" items="${excGroups.resultList}" >
				<input name="addAsExplicitExclusionToMemberGroupId" type="hidden" value="<c:out value="${excGrp.memberGroupId}"/>" />
			</c:forEach>
		</form>
		<fmt:message var="removeButtonLabel" bundle="${widgetText}" key="ORGANIZATION_DESELECT_BUTTON_LABEL"/>
		<div id="WC_${widgetName}_edit_includeMbrGrp" class="includeMbrGrp group" aria-labelledby="WC_${widgetName}_edit_includeMbrGrp_subtitle">
			<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_edit_includeMbrGrp_subtitle"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_INCLUDEMBRGRP_TITLE"/></span>
			<div class="row">
				<p id="WC_${widgetName}_edit_includeMbrGrp_desc"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_INCLUDEMBRGRP_DESC"/></p>
			</div>
			<div class="row ">
				<select data-dojo-type="dijit/form/Select" maxHeight="-1" id="${includeGrpDropdownId}" onChange="UserMemberGroupManagementJS.selectIncGrp(this.value);">
					<option value="" selected="selected"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_SELECTGROUP"/></option>
					<c:forEach var="grp" items="${availableGroupsMap}">
						<c:set var="disabledAttribute" value="" />
						<c:if test="${!grp.value.hiddenExc  || !grp.value.hiddenInc}">
							<c:set var="disabledAttribute">disabled="disabled"</c:set>
						</c:if>
						<option value="<c:out value="${grp.key}"/>" ${disabledAttribute}>
							<c:out value="${grp.value.displayName}"/>
						</option>
					</c:forEach>
				</select>
			</div>
			<div class="row ">
				<c:forEach var="grp" items="${availableGroupsMap}" >
					<div class="entryField" data-grpId="${grp.key}" aria-hidden="${grp.value.hiddenInc}" >
						<span>${grp.value.displayName}</span>
						<a class="icon" role="button" href="#" onClick="UserMemberGroupManagementJS.deselectIncGrp('${grp.key}'); return false;" aria-label="${removeButtonLabel} ${grp.value.displayName}">
							<img src="${jspStoreImgDir}images/icon_big_x.png" alt=''/></a>
					</div>
				</c:forEach>
			</div>
		</div>
		<div id="WC_${widgetName}_edit_excludeMbrGrp" class="excludeMbrGrp group" role="region" aria-labelledby="WC_${widgetName}_edit_excludeMbrGrp_subtitle"
			aria-describedby="WC_${widgetName}_edit_excludeMbrGrp_desc">
			<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_edit_excludeMbrGrp_subtitle"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_EXCLUDEMBRGRP_TITLE"/></span>
			<div class="row">
				<p id="WC_${widgetName}_edit_excludeMbrGrp_desc"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_EXCLUDEMBRGRP_DESC"/></p>
			</div>
			<div class="row ">
				<select data-dojo-type="dijit/form/Select" maxHeight="-1" id="${excludeGrpDropdownId}" onChange="UserMemberGroupManagementJS.selectExcGrp(this.value);">
					<option value="" selected="selected"><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_SELECTGROUP"/></option>
					<c:forEach var="grp" items="${availableGroupsMap}">
						<c:set var="disabledAttribute" value="" />
						<c:if test="${!grp.value.hiddenExc  || !grp.value.hiddenInc}">
							<c:set var="disabledAttribute">disabled="disabled"</c:set>
						</c:if>
						<option value="<c:out value="${grp.key}"/>" ${disabledAttribute}>
							<c:out value="${grp.value.displayName}"/>
						</option>
					</c:forEach>
				</select>
			</div>
			<div class="row ">
				<c:forEach var="grp" items="${availableGroupsMap}" >
					<div class="entryField" data-grpId="${grp.key}" aria-hidden="${grp.value.hiddenExc}" >
						<span>${grp.value.displayName}</span>
						<a class="icon" role="button" href="#" onClick="UserMemberGroupManagementJS.deselectExcGrp('${grp.key}'); return false;" 
							aria-label="${removeButtonLabel} ${grp.value.displayName}" >
							<img src="${jspStoreImgDir}images/icon_big_x.png" alt=''/>
						</a>
					</div>
				</c:forEach>
			</div>
		</div>
		<c:if test="${fromPage == 'editUser' }" >
			<div class="button_footer_line no_float" id="WC_${widgetName}_Buttons">
				<c:set var="saveChangeJS" value="UserMemberGroupManagementJS.saveChange();return false;"/>
				<a href="#" role="button" class="button_primary" id="WC_${widgetName}_links_1" tabindex="0" onclick="${saveChangeJS}">
					<div class="left_border"></div>
					<div class="button_text"><fmt:message bundle="${widgetText}" key="SAVE"/></div>												
					<div class="right_border"></div>
				</a>
				<span class="spanacce" aria-hidden="true" id="WC_${widgetName}_pageSection_cancel"><fmt:message bundle="${widgetText}" key="ACCE_${widgetNameCaps}_CANCEL"/></span>
				<a role="button" class="button_secondary button_left_padding" id="WC_${widgetName}_inks_2" tabindex="0" href="#" data-section-toggle="WC_${widgetName}_pageSection" aria-describedBy="WC_${widgetName}_pageSection_cancel">
					<div class="left_border"></div>
					<div class="button_text"><fmt:message bundle="${widgetText}" key="CANCEL"/></div>												
					<div class="right_border"></div>
				</a>
			</div>
		</c:if>
	</div>
	<c:if test="${fromPage == 'editUser'}">

	<div class="readField" id="WC_${widgetName}_read" role="document" aria-labelledBy="WC_${widgetName}_title" tabindex="0">
		<c:set var="position" value="0"/>
		<c:forEach items="${incGroups.resultList}" var="grp" >
			<c:set var="displayName" value=""/>
			<c:set var="first" value="false"/>
			<c:if test="${not empty availableGroupsMap[grp.memberGroupId] }">
				<c:set var="displayName" value="${availableGroupsMap[grp.memberGroupId].displayName}"/>
				<c:if test="${position == '0' }">
					<c:set var="position" value="-1"/>
					<c:set var="first" value="true"/>
				</c:if>
				<c:choose>
					<c:when test="${first}">
						<div class="row field">
							<div class="readLabel readContent"><span><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_INCLUDEMBRGRP_TITLE"/></span></div><div class="readValue readContent"><span><c:out value='${displayName}' escapeXml="false"/></span></div>
						</div>
					</c:when>
					<c:otherwise>
						<div class="row field">
							<div class="readLabel readContent"><span style="visibility:hidden">&nbsp;</span></div><div class="readValue readContent"><span><c:out value='${displayName}' escapeXml="false"/></span></div>
						</div>
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:forEach>
		<c:set var="position" value="0"/>
		<c:forEach items="${excGroups.resultList}" var="grp" >
			<c:set var="displayName" value=""/>
			<c:set var="first" value="false"/>
			<c:if test="${not empty availableGroupsMap[grp.memberGroupId] }">
				<c:set var="displayName" value="${availableGroupsMap[grp.memberGroupId].displayName}"/>
				<c:if test="${position == '0' }">
					<c:set var="position" value="-1"/>
					<c:set var="first" value="true"/>
				</c:if>
				<c:choose>
					<c:when test="${first}">
						<div class="row field">
							<div class="readLabel readContent"><span><fmt:message bundle="${widgetText}" key="${widgetNameCaps}_EXCLUDEMBRGRP_TITLE"/></span></div><div class="readValue readContent"><span><c:out value='${displayName}' escapeXml="false"/></span></div>
						</div>
					</c:when>
					<c:otherwise>
						<div class="row field">
							<div class="readLabel readContent"><span style="visibility:hidden">&nbsp;</span></div><div class="readValue readContent"><span><c:out value='${displayName}' escapeXml="false"/></span></div>
						</div>
					</c:otherwise>
				</c:choose>
			</c:if>
		</c:forEach>
	</div>
	</c:if>
</div>
</c:if>
<!-- END UserMemberGroupManagement_UI.jspf -->